/* 教学活动 */

.conWrap {
	width: 100%;
}

.container {
	width: 960px;
	min-height: 500px;
	margin: 0 auto;
	background-color: #fcf9f9;
	overflow: hidden;
}

.activity {
	width: 780px;
	margin: 0 auto;
	/*margin-top: 33px;*/
}

.lessonTit {
	width: 167px;
	line-height: 40px;
	margin: 33px 0 36px 0;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	background: url('../img/lesson_tit_bg.png') no-repeat;
	color: #fbfdfd;
}

.lessonCon {
	width: 100%;
}

.lessonItem {
	width: 100%;
	height: 105px;
	margin-bottom: 53px;
	overflow: hidden;
}

.lessItemCon {
	float: right;
	width: 612px;
	height: 105px;
}

.lessItemTit {
	float: left;
	line-height: 33px;
	padding: 0;
	margin: 0;
	font-size: 22px;
	font-weight: 500;
	color: #0076c9;
}

.lessItemPer, .lessItemDate {
	float: right;
	line-height: 33px;
	margin-left: 24px;
	font-size: 16px;
	color: #393a3a;
}

.lessItemPar {
	float: left;
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 0;
	font-size: 16px;
	overflow: hidden;
	color: #908e8e;
}

.lessItemMore {
	float: right;
	font-size: 18px;
	text-decoration: none;
	color: #ee4242;
}

.lessonPage {
	float: left;
	width: 300px;
	margin: 0;
	margin-left: 250px;
	overflow: hidden;
	/*text-align: center;*/
}

.pageUl {
	float: left;
	width: 200px;
	height: 20px;
	padding: 0;
	margin: 0;
	/*margin-left: 200px; */
	text-align: center;
	/*margin: 0 auto;*/
}

.preBtn, .nexBtn {
	float: left;
	font-size: 16px;
	color: #060606;
	cursor: pointer;
}

.nexBtn {
	float: right;
}

.pageUlItem {
	float: left;
	width: 20px;
	height: 20px;
	font-size: 16px;
	color: #060606;
	text-align: center;
	list-style-type: none;
	cursor: pointer;
}

.pageUlItemCur {
	color: #0076c9;
}

.itemNum {
	float: left;
	margin-left: 15px;
}