html, body {
	padding: 0;
	margin: 0;
	font-family: 'Microsoft Yahei';
	background-color: #eff0f0;
}

img {
	border: 0;
}

.orange {
	color: orange;
}

/* 头部开始 */

.heaWrap {
	/*float: left;*/
	width: 100%;
	overflow: hidden;
}

.header {
	/*float: left;*/
	position: relative;
	width: 960px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}


.logoLink {
	float: left;
	display: block;
	margin-top: 24px;
	height: 76px;
	text-decoration: none;
}

.langEle {
	float: right;
	color: #0076c9;
	font-size: 15px;
	font-weight: bold;
}

.langItem {
	display: inline-block;
	padding: 4px 5px;
	margin: 0;
	line-height: 25px;
	text-decoration: none;
}

.welCon {
	/*float: right;*/
	position: absolute;
	right: 0;
	top: 60px;
	padding: 0;
	margin: 0;
}

/* 导航开始 */

.navWrap {
	width: 960px;
	height: 72px;
	margin: 0 auto;
	background-color: #0076c9;
}

.nav {
	display: table;
	padding: 0;
	margin: 0 auto;
	/*width: 960px;*/
}

.navItem {
	float: left;
	list-style-type: none;
}

.navLink {
	display: inline-block;
	line-height: 72px;
	height: 72px;
	padding: 0 15px;
	font-size: 17px;
	font-weight: bold;
	color: #fdfafa;
	text-decoration: none;
	transition: background-color 1s;
}

.navLink:hover {
	background-color: #fdfafa;
	color: #0076c9;
}

.navLinkCur {
	background-color: #fdfafa;
	color: #0076c9;
}

/* 尾部开始 */

.fooWrap {
	width: 100%;
}

.footer {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.friLink {
	width: 100%;
	height: 108px;
	background-color: #0076c9;
}

.friLinkTit {
	float: left;
	padding: 0;
	padding-left: 80px;
	margin: 0;
	width: 170px;
	line-height: 108px;
	letter-spacing: 2px;
	color: #f9fafb;
	/*text-decoration: center;*/
}

.friLinkCon {
	margin-left: 250px;
	width: 710px;
	height: 108px;
	overflow: hidden;
}

.friLinkCul {
	float: left;
	margin: 32px 55px 0 0;
	/*width: 132px;*/
}

.firLinkItem {
	/*width: 132px;*/
	display: block;
	margin-bottom: 4px;
	font-size: 15px;
	text-decoration: none;
	color: #020202;
}

.firLinkItem:hover {
	color: #f9fafa;
}

.address {
	display: table;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 15px;
	color: #020202;
}

.address span {
	margin: 0 8px;
	color: #0076c9;
}

.extraLink {
	display: table;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 15px;
	color: #020202;
}

.exLinkItem {
	font-size: 15px;
	text-decoration: none;
	color: #020202;
}

.extraLink span {
	margin: 0 8px;
	color: #0076c9;
}

.copyright {
	width: 100%;
	padding: 0;
	margin: 10px 0 15px 0;
	font-size: 15px;
	color: #020202;
	text-align: center;
}