/* 研究动态 */
.main {
	width: 960px;
	min-height: calc(100vh - 17.8125em);
	margin: 0 auto;
	background-color: #fcf9f9;
}

.main_wrap {
	width: 780px;
	margin: 0 auto;
	overflow: hidden;
}
.title {
	width: 100%;
	height: 115px;
	line-height: 115px;
}
h2.title1 {
	width: 167px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 22px;
	font-weight: 500;
	color: #fbfdfd;
	padding: 0;
	margin: 0;
	background: url(../../../public/img/lesson_tit_bg.png) no-repeat;
}

.container {
	width: 770px;
	min-height: 350px;
	margin: 0 auto;
}
.content {
	width: 770px;
	min-height: 155px;
}
.items {
	width: 770px;
	height: 155px;
	overflow: hidden;
}
h2.items_tit {
	height: 30px;
	line-height: 30px;
	color: #0076c9;
	font-size: 22px;
	margin: 0;
	padding: 0;
}
.items_con {
	text-indent: 2em;
	font-size: 15px;
	color: #393a3a;
	margin-left: 40px;
	width: calc(100% - 40px);
}


.page_container {
	height: 155px;
}
.page {
	width: 770px;
	height: 70px;
	background-color: #54bfbc;
	position: relative;
	top: calc(50% - 35px);
	text-align: center;
	line-height: 70px;
}
.start,.prev,.next,.last {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 1px;
	padding: 0 5px;
	cursor: pointer;
	background-color: transparent;
	font-size: 18px;
	color: #111;
	border-radius: 4px;
}
.start:hover,.last:hover,.prev:hover,.next:hover {
	color: #fff;
}
ul.pageNum {
	display: inline-block;
	padding: 0;
	height: 30px;
	margin: 0;
	vertical-align: middle;
	line-height: 30px;
}
.pageNum li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	display: inline-block;
}
li.active {
	color: red;
}

.allNum {
	width: 50px;
	height: 30px;
	display: inline-block;
	font-size: 15px;
}

.page span.forbid {
	background-color: #f5f5f5;
	cursor: not-allowed;
}

.lists {
	width: 500px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}