/* 研究生培养 */
.main {
	width: 960px;
	min-height: calc(100vh - 17.8125em);
	margin: 0 auto;
	background-color: #fcf9f9;
}

.main_wrap {
	width: 780px;
	margin: 0 auto;
	overflow: hidden;
}
.title {
	width: 100%;
	height: 115px;
	line-height: 115px;
}
h2.title1 {
	width: 200px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 22px;
	font-weight: 500;
	color: #fbfdfd;
	padding: 0;
	margin: 0;
	background: url(../../../public/img/lesson_tit_bg.png) no-repeat;
	background-size: 200px 40px;
}

.items {
	width: 780px;
	min-height: 455px;
}

.list {
	width: 253px;
	height: 455px;
	text-align: center;
	display: inline-block;
	margin-right: 7px;
}
.list:nth-child(3n + 0) {
	margin: 0;
}

.list img {
	width: 253px;
	height: 308px;
}

h3.masterPic {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 253px;
	height: 30px;
	line-height: 30px;
	color: #0076c9;
}

.masterInfo {
	width: 200px;
	height: 100px;
	display: inline-block;
}

.studyCon,.email {
	height: 45px;
}
.masterInfo h4,.masterInfo p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	height: 22px;
	line-height: 22px;
	color: #606162;
	text-align: left;
}
.mt10 {
	margin-top: 10px;
}