/* 产品与服务 */
.main {
	width: 960px;
	min-height: calc(100vh - 17.8125em);
	margin: 0 auto;
	background-color: #fcf9f9;
}

.main_wrap {
	width: 780px;
	min-height: 500px;
	margin: 0 auto;
	overflow: hidden;
}

.title {
	width: 100%;
	height: 115px;
	line-height: 115px;
}
h2.title1 {
	width: 200px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 22px;
	font-weight: 500;
	color: #fbfdfd;
	padding: 0;
	margin: 0;
	background: url(../../../public/img/lesson_tit_bg.png) no-repeat;
	background-size: 200px 40px;
}

/* content */
.content {
	width: 780px;
	min-height: 400px;
}
.section {
	width: 780px;
	height: 330px;
}
.product_tit {
	width: 780px;
	height: 45px;
	background-color: #0076c9;
}
.product_tit h3 {
	width: 200px;
	height: 45px;
	line-height: 45px;
	color: #fcf9f9;
	font-size: 24px;
	margin: 0 0 0 30px;
	padding: 0;
}
.product_con {
	width: 780px;
	height: 285px;
	box-sizing: border-box;
	padding-left: 30px;
	position: relative;
}
.product_con p {
	width: 465px;
	max-height: 260px;
	float: left;
	margin: 30px 0 0 0;
	padding: 0;
	text-indent: 2em;
	font-size: 16px;
	color: #7b7979;
	text-indent: 2em;
	line-height: 30px;
	text-overflow: ellipsis;
}
.pic_show {
	width: 255px;
	height: 255px;
	border-radius: 50%;
	background-color: #e5e5e5;
	overflow: hidden;
	margin: 15px 0 0 0;
	float: right;
}